In [ ]:
!pip install pandas

In [ ]:
!pip install numpy

In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('S02-hw-dataset.csv')

print(df.head(41))

    user_id    age country  purchases  revenue
0         1   25.0      FR          7      749
1         2   24.0      RU          5     1115
2         3   52.0      FR          7      399
3         4   31.0      RU          6      654
4         5    NaN      DE          6     1296
5         6  120.0      FR         -1      785
6         7   46.0      RU          0        0
7         8   28.0      CN          2      456
8         9   39.0      US          4      980
9        10   24.0      RU          7      511
10       11   24.0      US          4        0
11       12   20.0      CN          7     1652
12       13    NaN      US          9      630
13       14   36.0      DE          9     2358
14       15   57.0      FR          7      693
15       16   22.0      FR          3      183
16       17   32.0      FR          6     1608
17       18   24.0      RU          0        0
18       19   47.0      RU          3      432
19       20   31.0      RU          2      442
20       21    5.0      RU          8     1488
21       22   33.0      FR          6      546
22       23   42.0      US          4      904
23       24   32.0      DE         11     2475
24       25   21.0      RU          5      650
25       26   35.0      US          5      330
26       27   54.0      RU          6     1302
27       28   43.0      US          3      828
28       29   47.0      FR          6     1440
29       30   52.0      DE          6      702
30       31   55.0      FR          1      142
31       32   26.0      RU          6     1080
32       33   23.0      US          5      445
33       34   28.0      FR          0        0
34       35   45.0      FR          2      404
35       36   51.0      US          3      342
36       37   18.0      DE          4     1104
37       38   35.0      DE          3      738
38       39   39.0      FR          7     1162
39       40   34.0      RU          7     2086
40       10   24.0      RU          7      511

In [4]:
print(df.info()) # основная информация о датсете

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    41 non-null     int64
 1   age        39 non-null     float64
 2   country    41 non-null     object
 3   purchases  41 non-null     int64
 4   revenue    41 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.7+ KB
None

In [5]:
print(df.describe()) # описательная статистика датасета

         user_id         age  purchases      revenue
count  41.000000   39.000000  41.000000    41.000000
mean   20.243902   36.512821   4.829268   820.048780
std    11.659289   18.304259   2.710189   613.127269
min     1.000000    5.000000  -1.000000     0.000000
25%    10.000000   24.000000   3.000000   432.000000
50%    20.000000   33.000000   5.000000   693.000000
75%    30.000000   45.500000   7.000000  1115.000000
max    40.000000  120.000000  11.000000  2475.000000

In [6]:
print(df.isna().mean()) # доля пропусков каждого столбца

user_id      0.00000
age          0.04878
country      0.00000
purchases    0.00000
revenue      0.00000
dtype: float64

In [7]:
print(df.duplicated()) # проверка наличия дублирующих строк

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40     True
dtype: bool

In [8]:
print(df.age < 0 )# проверка на отрицательное значение возраста 
print(df.age > 100 )# проверка на несуществующие значение возраста

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
Name: age, dtype: bool
0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
Name: age, dtype: bool

In [9]:
print(df.purchases < 0) # проверка на несуществующее значение колличества покупок

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
Name: purchases, dtype: bool

В результате небольшого анализа были выявлены следующие проблемы качества данных: 3 пропущенных значений в столбце age,1 дублирующиеся строки - 40 и 9,
 нереалтистичные значениия в столбцах age и purchases в 5й  строке.

In [26]:
print(df['country'].value_counts()) # частоты для категориальной переменно country

country
RU    13
FR    12
US     8
DE     6
CN     2
Name: count, dtype: int64

In [40]:
df1 = df 
df1 = df1.drop('user_id',axis = 1) # удаляем столбец,нецелесобразным для средних значений
gr = df1.groupby('country')# группируем дата сет по странам 
gr.mean() # выводим среднее значений столбцов для каждой страны

               age  purchases      revenue
country
CN       24.000000   4.500000  1054.000000
DE       34.600000   6.500000  1445.500000
FR       46.250000   4.250000   675.916667
RU       30.076923   4.769231   790.076923
US       36.714286   4.625000   557.375000

In [42]:
gr1 = gr.age.agg(['max','min']) # выводим максимальный и минимальный возраст человека по странам
gr1

           max   min
country
CN        28.0  20.0
DE        52.0  18.0
FR       120.0  22.0
RU        54.0   5.0
US        51.0  23.0

В результате наблюдаем , что доход граждан Германии сильно доминирует среди других стран,как и колличесво их покупок , интересно отметить что при  относительно молодом возрасте(разброс возраста от 20 до 28 )доход у граждан Китая устыпает лишь гражаднам Германии.